@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 70px;

        --light-purple: #8185DA;

        --text-alert: #404040;
        --text-list: #8185DA;
    }
}

@layer components {
    h1 {
        @apply text-6xl font-medium
    }
    h2 {
        @apply text-2xl font-light
    }
    h3 {
        @apply text-xl font-light
    }
    button {
        @apply bg-skin-lp rounded-md px-5 py-2 text-white 
        transition-all duration-300 cursor-pointer
    }

}
