@import url("https://fonts.googleapis.com/css2?family=Poppins");

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 64px;

    box-shadow: rgba(22, 22, 22, 0.12) 0px 2px 3px, rgba(255, 255, 255, 0.24) 0px 3px 2px;
}

.navbar img {
    max-height: 40px;
    max-width: 100px;
    object-fit: contain;
}

.navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar li {
    display: flex;
    align-items: center;
    height: 45px;
    width: 45px;
}

.navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button {
    transition: all 300ms;
}

.navbar li > button:hover {
    color: #6e6e6e;
}

h3.user-name{
    padding-right: 6px;
}

.profile-icon {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.527);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 26px;
}

.notification-icon {
    font-size: 24px;
}



.prof-dropdown {
    position: absolute;
    top: 58px;
    width: 165px;
    transform: translateX(-70%);
    border: 1px solid rgb(156, 156, 156);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;

    transition: all 300ms;
}

.prof-dropdown > .prof-item {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    border-radius: 6px;
    transition: background 300ms;
    padding: 2px 12px;
    margin: 6px 0;
    font-size: 1.2rem;

}

.prof-item:hover {
    background-color: #aace62;
    color: white;
}

.prof-item.logout:hover {
    background-color: rgb(241, 92, 92);
}