
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
 margin: 0;
}

.space {
  margin-top: 25px;
}

.left {
  width: 80%;
}

.home-section {
  position: relative;
  background-color: var(--white) !important;
  transition: all .5s ease;
  z-index: 2;
}

.textmain {
  color: var(--black);
  align-items: center;

  margin-left: 10%;
  display: flex;
  margin-top: 25px;
  margin-bottom: 10%;
}

.textmain h4 {
  margin-left: 5px;
}

.line {
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  display: flex;
  background-color: #000000;
  margin-top: 20%;
}

.search {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.searchbar {
  width: 65%;
  height: 35px;
  padding: 15px;
  font-weight: var(--font-regular);
  color: var(--dark-grey);
  border: 0.5px solid var(--dark-grey);
  border-radius: 5px;
  background-color: var(--white);
}

.searchbar:focus {
  outline: none;
  border-color: var(--dark-purple);
}

.none {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15% 20px;
}

.add_desktop {
  margin-top: 25px;
}

.add__desktop {
  margin-left: 10px;
  padding: 0 13px !important;
  height: 35px;
  border-radius: 5px;
}

.submenuproj {
  flex-direction: column;
  background-color: var(--light-grey);
  height: calc(100vh - var(--header-height));
  display: flex;
  width: var(--menu-width);
  border-right: 0.5px solid var(--dark-grey-border);
  border-top:  0.5px solid var(--dark-grey-border);
  overflow: auto;
  border-top-right-radius: 7px;
}

.card__letter {
  padding: 10px 15px;
  background-color: var(--light-purple);
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: var(--font-default);
}
/*---------------------parde dos cards do projetos--------------------------------------------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-2 {
  align-items: center;
  height: 60px;
}
.card, .card-last {
  padding: 5px 5px 5px 0px;
  flex-direction: row;
  display: flex;
  width: 80%;
  grid-template-rows: 20px 50px 1fr 50px;
  transition: all 0.2s;
}
.card {
  cursor: pointer;
}

.card-last {
  color: var(--white);
}

.card:hover {
  transform: scale(1.05);
  color: var(--white);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__title {
  padding: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black);
}

.card__apply {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

.card-meta button{
  margin-left: 25%;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #15026d;
  background-color: #15026d;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.hr3 {
  margin-bottom: 2%;
  margin-top: 5%;
  border: 0;
  height: 3px; 
}

/*-----------------------------------Tela----------------------------------------------*/


.projeto {
    align-items: center;
    max-width: 100% !important;
    min-height: 150px;
}

.projeto-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.projeto-title, .projeto-description, .projeto-icon-edit {
    padding: 15px 25px 0 25px;
    min-height: 50px;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
}

.projeto-title {
  min-width: 94%;
  margin: 0 !important;
}

.projeto-icon-edit {
  color: var(--black);
  font-size: 18px;
  cursor: pointer;
  position: inherit;

  min-width: 6%;
  display: flex;
  right: 0;
  align-items: center;
  justify-content: center;
}

.projeto-description {
  padding-top: 0px;
}

.projeto-description p {
  font-size: var(--font-navbar);
}

.projeto-description {
  min-width: 100%;
}

.projeto-title p {
  font-size: var(--font-medium);
  font-weight: var(--font-regular);
}

.projeto-edit {
  color: var(--light-purple);
  cursor: pointer;
}
.projeto-edit:hover {
  text-decoration: underline;
}

.topo {
  position: absolute;
  top: 0;
  left: calc(var(--menu-width) + var(--spacing-navbar)); /* Largura do submenu */
  width: calc(100% - var(--menu-width) - var(--spacing-navbar)); /* Ajuste para levar em consideração a largura do submenu */
  border-top-left-radius: 7px;
  min-height: calc(100vh - var(--header-height));
  border-left: 0.5px solid var(--dark-grey-border);
  border-top:  0.5px solid var(--dark-grey-border);
  background-color: var(--light-grey);
}

.desc {
  margin-top: 3%;
  margin-left: 8%;
  display: flex;
}

.hr2 {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 5px;
  background-image: var(--dark-grey-border);
}

.slash-1 {
  margin-bottom: 8%;
  margin-top: 4%;
  height: 10px;
  color: var(--color-default);
  background-image: linear-gradient(-45deg,
    transparent, transparent 25%, currentColor 25%,currentColor 50%,
    transparent 50%,
    transparent 75%,
    currentColor 75%);
  background-size: 10px 10px;
  width: 250px;
}

.slash-2 {
  height: 8px;
  color: darkmagenta;
  color: color;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="#{$color}"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"/><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"/></svg>');
  background-size: 3px 3px;
  width: 65%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cards2 {
    flex-basis: 25.5%; /* Para 3 colunas em cada linha */
    padding: 18px;
    box-sizing: border-box;
    
  }
  
  .cookie-card, .cookie-card-add {
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .cookie-card:hover, .cookie-card-add:hover {
    background-color: var(--light-grey);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .cookie-card-add {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .title {
    color: var(--black);
  }
  
  .description {
    margin-top: 1rem;
    line-height: 1.25rem;
    color: var(--dark-grey);
    word-wrap: break-word;
  }
  
  .description a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246);
  }
  
  .description a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }
  
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    flex-shrink: 0;
  }
  
  .pref {
    font-size: 0.75rem;
    line-height: 1rem;
    border: none;
    background-color: transparent;
  }
  
  .pref:hover {
    color: rgb(156 163 175);
  }
  
  .pref:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .accept {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: var(--color-second);
    border: 2px solid #010922;
    font-weight: 500;
    border-radius: 0.5rem;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .accept:hover {
    background-color: var(--color-default);
  }
  
  .accept:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .projeto-null {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--header-height));
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
  }

  .project {
    height: calc(100vh - var(--header-height) - 300px);
  }

.projeto-null-title {
    width: 100%;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Definir um valor alto para ficar acima de outros elementos */
}

.perfil-usuario-bioo {
    margin-bottom: 1.10rem;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    min-width: 500px;
}

.lista-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-datoss {
  margin-top: 4%;
  width: 100%;
  list-style: none;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.lista-datoss input {
  background-color: #e8f0fe;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: var(--font-default);

}
.lista-datoss input:focus {
  border: none;
  outline: none;
}
.lista-datoss1 {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  list-style: none;
}

.lista-datoss1 button {
  margin: 0 !important;
}

.lista-datoss1 p {
  cursor: pointer;
}
.lista-datoss1 p:hover {
  color: var(--light-purple)
}

.close {
  color: var(--black);
  font-size: 18px;
  cursor: pointer;
  position: inherit;
  margin-left: 15%;

  display: flex;
  justify-content: end;
}



.quadro-map {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1% 2% 0 2%;
}
.quadro-item {
  border: 1px solid black;
  padding: 10px 20px;
  background-color: var(--white-);
}


.prof_dropdown {
  position: absolute;
  border: 1px solid var(--dark-grey-border);
  right: 35px;
  width: 30%;
  transform: translateY(55%);
  border-radius: 5px;
  background-color: var(--white);
  padding: 0.5rem;
  z-index: 9000;

  transition: all 300ms;
}

.prof_item {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border-radius: 2px;
  transition: background 300ms;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 5px;
  cursor: pointer;
}

.prof_item:hover {
  background-color: var(--light-purple-li);
}
